extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec sapien eget lacus tempor varius in ornare libero. Vestibulum nec varius sapien, sit amet tincidunt mauris. Nunc vel turpis imperdiet, placerat est ac, sagittis diam. Mauris consequat sem at semper aliquam. Nunc dictum felis vel odio venenatis, eget commodo nisl rutrum. Mauris eget ipsum lectus. Vestibulum a venenatis neque, sed luctus lorem.

                p Vivamus est sem, maximus vel cursus eget, imperdiet eu eros. Nullam nisi ante, pretium et libero ac, fermentum finibus velit. Suspendisse in neque iaculis, volutpat magna vitae, blandit neque. Fusce ultrices enim vitae volutpat placerat. Fusce feugiat massa risus, elementum facilisis ex luctus a.

                p Mauris posuere porta tortor eget pharetra. Curabitur est neque, euismod quis iaculis volutpat, hendrerit quis massa. Sed nec turpis et ante imperdiet consequat. Phasellus eget orci sed ex sollicitudin consectetur. Suspendisse potenti.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed nec turpis et ante imperdiet consequat. Phasellus eget orci sed ex sollicitudin consectetur. Suspendisse potenti.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed nec turpis et ante imperdiet consequat. Phasellus eget orci sed ex sollicitudin consectetur. Suspendisse potenti.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Sed nec turpis et ante imperdiet consequat. Phasellus eget orci sed ex sollicitudin consectetur. Suspendisse potenti.